* {
  box-sizing: border-box;
}


body {
  font-family: Arial;
  margin: 0;
}
/* ticker */
.ticker, marquee {
    background: white;
    height: 40px;
    font-family: 'Trebuchet MS' ;
 }

.header {
  height: 60px;
  text-align: center;
  background: #2b86b5;
  color: white;
}
/* logo */
.h-logo{
    float: left;
    margin: 5px 5px;
    flex:50%;
    height: 60px;
    background-color: #2b86b5;
  }
  .CR{
    position: absolute;
    color: black;
    font-size: 50px;
    left: 10px;
    font-family:  sans-serif;
    font-weight: bold;
    
  }  
  .KIE{
    position: absolute;
    color: black;
    font-size: 50px;
    left: 160px;
    font-family:  sans-serif;
    font-weight: bold;    
  }  
  .eye-left{
    position: absolute;
    background: white;
    width: 50px;
    height: 50px;
    top: 45px;
    left: 80px;
    border-radius: 50%;
    border: 8px solid black;
    z-index: 3;
  }
  
  .eye-right{
    position: absolute;
    background: white;
    width: 50px;
    height: 50px;
    top: 45px;
    left: 110px;
    border-radius: 50%;
    border: 8px solid black;
    z-index: 3;
  }
  
  .pupil{
    position: absolute;
    width: 15px;
    height: 15px;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    background: #27354A;
  
  }
  
  /* h-animation */
  .animation{
    float: right;   
    flex:50%;
    height: 60px;
    ;
  }
.mochi{
  position: relative;  
  background: pink;
  width: 80px;
  height: 40px;
  top: 15px;
  right: 120px;
  border-radius: 40px 40px 0 0;
}
.bite{
  opacity: 1;  
  top: -10px;
  right: 60px;
  z-index: 10;
  position: relative;
  animation: eat 3s infinite;
  height: 30px;
  width: 30px;
  border-radius: 40px;
  background-color:  #2b86b5;
} 
@keyframes eat{
  1% {opacity: 1;}
  49%{ opacity: 1;}
50%{opacity: 0;}
100%{opacity: 0;}
}   
.art{
  position: relative;
  color: black;
  font-size: 30px;
  right: 10px;
  top: -45px;
  font-family:  sans-serif;
  font-weight: bold;    
}  

/* container */
.content {  
  display: flex;
  flex-wrap: wrap;
}

/* left column */
.left {
  flex: 40%;
  background-color: #f1f1f1;
  margin-top: 20px;
}
  /* upperleft */
  .upleft{
    position: absolute;
    width: 40%;
    height: 250px;
    background-color: #2b86b5;
    opacity: 0.5;
    
  }
  .upleft:hover{
    opacity: 1;
    width:40%;
    padding: 20px;
  }
  .what{
    position: absolute;
    color: white;
    font-size: 40px;
    top: 5px;
    right: 40px;
    font-family:  sans-serif;
    font-weight: bold;    
    text-align: right;
  }
  .cookie{
    position: absolute;
    color: white;
    font-size: 20px;
    top: 70px;
    right: 40px;
    left: 20px;
    font-family: 'Trebuchet MS';
    font-weight: bold;    
    text-align: right;
  }
  .cookie ul{
    list-style-type: none;
  }
  .lowleft{
    position: absolute;
    top: 370px;
    width: 40%;
    height: 250px;
    background-color:#2b86b5;
    opacity: 0.5;
    margin-top: 20px;
  }
  .lowleft:hover{
    opacity: 1;
    width: 40%;
   
  }
/* Main column */
.main {
    flex: 15%;
    background-color: white;
    margin-top: 20px;
  }
  /* m-animation */
.animation2 {
    float: left;
    width:250px;
    height: 520px;
    background-color: #2b86b5;
  }
  .icecream {
    position: absolute;  
  }
  .ice {
    position:absolute;
    border-radius: 50%;
    background-color: #5DADE2;
    width: 160px;
    height: 160px;
    box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);  
    top: 80px;
    left:45px;
  }
  .cone {
    position: absolute;
    width: 0;
    height: 0;
    top:230px;
    left:65px;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 200px solid #F7DC6F;
      
  }
  .cone:after {
    content:"";
    position: absolute;
    background-color: #F7DC6F;
    width: 140px;
    height: 25px;
    border-radius: 100px;
    top:-220px;
    left:-70px;
    box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);
  }
  .melt {
    position: absolute;
    background-color: #5DADE2;
    z-index:1;
    width: 20px;
    height: 40px;
    border-radius: 0 0 30px 30px;
    left:90px;
    top: 200px;
  }
  
  .drip {
    position: absolute;
    left:90px;
    top: 220px;
    
  }
  .drip2 {
    background-color: #5DADE2;
    top: 50px;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius:50%; 
    animation: down 2s infinite;
  }
  @keyframes down {
    from {top: 11px;}
    to {top: 100px;}
  }
  
/* right column */
.right {
    flex: 40%;
    background-color: white;
    margin-top: 20px;
  }    
 /* upper right */
.upright{
    position: absolute;
    width:40%; 
    height: 250px;
    background-color: #2b86b5;
    opacity: 0.5;
  }
  .upright:hover{
    opacity: 1;
    width:40%; 
  }
  .quick{
    position: absolute;
    color: white;
    font-size: 30px;
    top: 15px;
    right: 20px;
    font-family:  sans-serif;
    font-weight: bold;    
    text-align: right;
  }
  .res{
    position: absolute;
    color: white;
    font-size: 20px;
    top: 80px;
    right: 20px;
    left: 20px;
    font-family: 'Trebuchet MS';
    font-weight: bold;    
    text-align: right;
  }
  .res ul{
    list-style-type: none;
  }
  .lowright{
    position: absolute;
    top: 420px;
    margin-top: -30px;
    width:40%;  
    height: 250px;
    background-color: #2b86b5;
    opacity: 0.5;
  }
  .lowright:hover{
    opacity: 1;
    width:40%; 
  }
/* Footer */

.footer{
    background: #2b86b5;
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
    background: linear-gradient(-45deg, #2b86b5, #4b98c1, #496da6, #026087);
    background-size: 100% 100%;
      animation: gradient 15s ease infinite;
    }
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }


.loc{
  position: absolute;
  color: white;
  font-size: 15px;
  top: 40px;
  left: 50px;
  font-family:  sans-serif;
  font-weight: bold;      
}
.social{
  position: absolute;
  color: white;
  font-size: 15px;
  top: 40px;
  left: 550px;
  font-family:  sans-serif;
  font-weight: bold;      
}
/* ig */


.insta{
  background: 
  -webkit-linear-gradient(bottom left,#2b86b5 0%, #2b86b5 50%, #2b86b5 100%);
  width: 40px;
  height: 40px;
  border-radius: 25%; 
  float:right;
  margin:20px 40px 0 0;
}

.shape{
  transform: translate(7%, 7%);
  width: 35px;
  height: 35px;
  border-radius: 25%;
  box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
}

.shape::before{
  content: '';
  position: absolute;
  background-color: rgb(255, 255, 255);
  margin-top: 6px;
  margin-left: 28px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
}

.shape::after{
  position: absolute;
  content: '';
  margin-top: 7.5px;
  margin-left: 7.5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
}



/* fb */

.fb {
  float:right;
  list-style:none;
  padding:0;
  margin:0;
  font:0.875em/1 Arial, sans-serif;
}

.fb .fbpos {
  float:left;
  width:66px;
  height:66px;
  margin:18px 20px 0 0;
}

.fb .fbpos .fbanchor {
  display:block;
  width:40px;
  height:40px;
  overflow:hidden;
  border:1px solid transparent;
  line-height:40px;
  text-decoration:none;
  border-radius:5px; 
}

.facebook .fbanchor {
  position:relative;
  border-color:#3c5a98;
  text-transform:lowercase;
  text-indent:14px;
  letter-spacing:10px;
  font-weight:bold;
  font-size:40px;
  line-height:46px;
  color:#fff;
  background:#2b86b5;
}

/* twt */

.tw {
    float:right;
    list-style:none;
    padding:0;
    margin:0;
    font:0.875em/1 Arial, sans-serif;
}
.tw .twpos {
    float:left;
    width:66px;
    height:66px;
    margin:18px 20px 0 0;
}
.tw .twpos .twanchor {
    display:block;
    width:40px;
    height:40px;
    overflow:hidden;
    border:1px solid transparent;
    line-height:37px; 
    text-decoration:none;
    text-shadow:0 -1px 0 rgba(0,0,0,0.5);
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px; 
}
.twitter .twanchor {
    position:relative;
    text-transform:lowercase;
    text-indent:12px; 
    letter-spacing:40px;
    font:bold 40px Tahoma, sans-serif;
    line-height:40px;
    color:rgb(255, 255, 255);   
    
    background: #2b86b5;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .content {   
    flex-direction: column;
  }
}